/*-------------------------------working around cms-------------------------------*/
.container{
	width: 100%;
}

#undernav {
	height: 50px;
}

.forcefullwidth{
	width: 100%;
}

/*----------------------------cover----------------------*/

.cover{
	background-image: url('http://www2.palmbeachpost.com/projects/news/fcat14/img/traincut.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 30% 50%;
	height: 20vh;
}

#content-section #hed {
	color: white;	
	display: inline;
	position: absolute;
	top:65%;
	right: 5%;
}
#content-section #hed>*{
	background-color: rgba(100,100,100,.5);
	font-weight: normal;
	max-width: 550px;
	padding-left: 10px;
	padding-right: 10px;
}
.cover h3{
	font-size: 110%;
	font-style: italic;
	font-weight: lighter;
}
#content-section #credits {
	background-color: rgba(100,100,100,.5);
	color: black;	
	display: inline;
	position: absolute;
	right: 1%;
	bottom: 0%;
}

.cover h5{	
	font-size: 100%;
	font-style: normal;
	font-weight: lighter;
}
/*-------------------------story------------------------*/
#story-section{
	width:90%;
	margin: auto;	
	text-align: justify;
	margin-top: 50px;
}
#story-section section{
	padding-top: 20px;
}
.story{
	margin:auto;
}
.full{	
	width:75%;
	margin: auto;
}
.graphic{
	margin-bottom: 45px;
	margin-top: 45px;	
}
.split{
	width:100%;
	position: relative;
}
.left{
	float: left;
}
.right{
	float: right;
}
.rail {
	width: 30%;
	padding-right: 10px;
	padding-bottom: 50px;
}
.split .notrail{
	margin-left: 31%;
	padding-left: 2.5%;	
	border-left: 1px dotted grey;
}
.notrail .story p {
	width: 80%;
}

#mapdetails{		
	padding-top: 30px;
	margin-bottom: 10px;
	text-align: right;
}

#map{
	position: relative;
}
/*--------------------------wraparound----------*/
.wraparound{
	width: 50%;
	min-width: 300px;
	margin-left: 24px;
}
.wraparound .caption{
	text-align: justify;
	color:#444444;	
	min-height: 1em;
	padding: .5em .5em;
	font-size: .95em;
}

/*---------------------------------Graphics------------------------*/
#graphics{	
	margin: auto;
	border: none;
	border-radius: none;
	padding-top: 1em;
}
#graphics ul {
	width: 75%;
	margin:auto;
}

#graphics ul li{
	list-style: none;
	float: left;		
	background-image: none;
}

#graphics li a{
	color: #004c8c;
}

#graphics .ui-widget-header{
	background: none;
	border: none;
	border-bottom: 1px solid  #004c8c;
}

#graphics .ui-corner-all,
#graphics .ui-corner-top,
#graphics .ui-corner-left,
#graphics .ui-corner-tl{
	border-radius: 0px;
}
#graphicshed{
	text-align: center;
	font-weight: normal;
}

#graphicssubhed{
	font-style: italic;
	text-align: center;
	font-weight: normal;
	padding-bottom: .5em;
}

/*-------------------notes------------------------------------------*/
p.note{
	width:95%;
	font-family: "Courier New", Courier, monospace;
	background-color: #FAFAED;
	padding: 10px 15px;
	box-shadow: 5px 5px 5px #888888;
	text-align:left;
	margin-bottom: 30px;
}
.note span{
	display: block;
	text-align: right;
	padding-top: 10px;
}

/*----------------------tooltips--------------------------------------*/
.tooltipItem{
	background-color: #FF9C00;
	padding: 1px 2px;
}

/*--------------------slideshow-------------------------------------*/
#earthell-slideshow .item>img{
	max-height: 40vh;
	width: auto;
	margin: auto;
}


/*-------------------------------MEDIA QUERIES----------------------*/

@media (max-width: 320px) {

}