/*-------------------------------working around cms-------------------------------*/
.container{
	width: 100%;
}

#undernav {
	height: 50px;
}

.forcefullwidth{
	width: 100%;
}
html {
	height:100%;
}

/*----------------------------cover----------------------*/

.cover{
	background-image: url('http://media.cmgdigital.com/shared/img/photos/2014/06/26/64/ac/TRAIN-DEATHS-1.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 29% 50%;
	height: 100%;
}

.content-section #hed {
	color: white;	
	display: inline;
	position: absolute;
	top:55%;
	right: 5%;
}
.content-section #hed>*{
	background-color: rgba(100,100,100,.5);
	font-weight: normal;
	max-width: 550px;
	padding-left: 10px;
	padding-right: 10px;
}
.cover h3{
	font-size: 110%;
	font-style: italic;
	font-weight: lighter;
}
.content-section #credits {
	background-color: rgba(100,100,100,.5);
	color: black;	
	display: inline;
	position: absolute;
	right: 1%;
	padding-left: 10px;
	padding-right: 10px;
}

.cover h5{	
	font-size: 100%;
	font-style: normal;
	font-weight: lighter;
}

#covercred{
	background-color: rgba(100,100,100,.2);
	display: inline;
	font-size: 1em;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
}
/*-------------------------story------------------------*/
.content-section h2{
	font-size: 2.3em;
}
#story-section{
	width:90%;
	margin: auto;	
	text-align: justify;
	margin-top: 50px;
}
#story-section section{
	padding-top: 20px;
}
.story{
	margin:auto;
}

.story h3{
	margin-top: 2.5%;
}
.full{	
	width:75%;
	margin: auto;
}
.graphic{
	width:350px;
	margin-bottom: 45px;
	margin-top: 45px;	
}
.split{
	width:90%;
	position: relative;
	margin-left:12.5%;
}
.left{
	float: left;
	margin-right: 24px;
}
.right{
	float: right;
	margin-left: 24px;
}
.bold{
	font-weight: bold;
}
.rail {
	width: 30%;
	padding-bottom: 50px;
}
.split .notrail{
	margin-left: 31%;	
	border-left: 1px dotted gray;
}
.notrail .story {
	width: 87.5%;
	margin-left: 0px;
}
.notrail .story p {
	width: 80%;
}
#contrib{
	font-style: italic;
	color:#006cb7;
}
/*--------------MAP-------------------*/
#mapdetails{		
	padding-top: 30px;
	padding-right: 5px;
	margin-bottom: 10px;
	text-align: right;	
	background-color: #FAFAED;
}
#mapdetails #personname{
	font-size: 1.2em;
	font-weight: bold;
}

#map{
	position: relative;
	width: 100%;
}
.notrail .story .carousel h3,
.notrail .story #map h3{
	font-size: 1.1em;
}
#mapbox{
	height:400px;
	height: 70vh;
	width: 100%;
}

#legend {
	list-style: none;
	float: right;
	background-color: #FAFAED;
}
#legend li{
	display: inline;
}
#legend li img{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 3px;
}
.mapbox-improve-map{
	display: none;
}

/*--------------------------Imgs---------*/
.wraparound{
	width: 50%;
	min-width: 300px;
	margin-left: 24px;
}
.caption{
	text-align: justify;
	color:#444444;	
	min-height: 1em;
	padding: .5em .5em;
	font-size: .95em;
	background-color: rgba(242,242,242,.8);	
}
#leonorimg{
	max-width: 250px;
}
#leonorimg img{
	min-width: 100%;
}
/*-------------------notes------------------------------------------*/
p.note{
	width:95%;
	font-family: "Courier New", Courier, monospace;
	background-color: #FAFAED;
	padding: 10px 15px;
	box-shadow: 5px 5px 5px #888888;
	text-align:left;
	margin-bottom: 30px;
}
.note span{
	display: block;
	text-align: right;
	padding-top: 10px;
}

/*----------------------tooltips--------------------------------------*/
.tooltipItem{
	background-color: #FF9C00;
	padding: 1px 2px;
}

/*--------------------slideshow-------------------------------------*/
#earthell-slideshow .item>img{
	max-height:300px;
	max-height: 40vh;
	width: auto;
	margin: auto;
}


/*-------------------------------MEDIA QUERIES----------------------*/
@media only screen  and  (max-width : 480px) {
	#covercred{
		display: none;
	}
	/*-----------img-----------*/	
	#leonorimg {
		max-width: initial;
		overflow: hidden;
	}
	.wraparound{
		width: 100%;
		min-width: initial;
	}
	.caption{			
		margin-bottom: 4%;
	}

	.left,.right{
		float: none;
		margin-right: 0px;
		margin-left:0px;
	}
	.graphic{
		width:100%;
	}
}

@media only screen  and  (max-width : 768px) {
	/*----------general----*/
	.full{
		width:90%;
	}
/*------------HED---------*/	
	.content-section #hed{
		width: 100%;
		right: 0;
	}
	.content-section #credits{
		width: 100%;
		text-align: center;
		right: 0;
	}

	#hed h1{
		font-size: 2em;
	}

	.content-section #hed{
		top:95%;
	}
	.content-section h2{
		font-size:1.7em;
	}
	#hed h3{
		font-size: 1em;
	}

	#credits h5{
		font-size: .75em;
	}

/*--------------Map-------------*/
	.rail{
		width:300px;
		width:100%;
		padding: 0;
	}
	.rail #map{
		margin-left: -7%;
	}

	.split .notrail{
		border: none;
		width: 90%;
		margin-left: -7%;
	}

	.notrail .story{
		width: 100%;
		text-align: justify;
	}
	.notrail .story h3{
		text-align: left;
		font-size: 1.5em;
	}
	.notrail .story p {
		width: 100%;
	}
	.notrail .story p.note{
		width: 90%;
	}
	#mapdetails{
		text-align: left;
	}
	#mapbox{
		height:50vh;
	}
	/*------------------carousel------------*/
	.carousel-control{
		top: 25%;
		left: 10px;
		width: initial;
	}
		
}
@media only screen  and  (min-width : 768px){
	.mastfoot, #product-bar{
	width: 75%;
	margin: auto;
	margin-left: 12.5%;
	}

	#hed h1{
		font-size: 3.3em;
	}
}

@media only screen  and  (max-width : 599px){
	#flatpage-well{
		padding: 0;
		margin: 0;
	}
}