/*-------------------------------working around cms-------------------------------*/
.container{
	width: 100%;
}

#undernav {
	height: 50px;
}

.forcefullwidth{
	width: 100%;
}

/*----------------------------cover----------------------*/

.cover{
	background-image: url('http://www2.palmbeachpost.com/projects/news/fcat14/img/traincut.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 30% 50%;
	height: 20vh;
}

#content-section #hed {
	color: white;	
	display: inline;
	position: absolute;
	top:65%;
	right: 5%;
}
#content-section #hed>*{
	background-color: rgba(100,100,100,.5);
	font-weight: normal;
	max-width: 550px;
	padding-left: 10px;
	padding-right: 10px;
}
#content-section h3{
	font-size: 110%;
	font-style: italic;
	font-weight: lighter;
}

/*-------------------------story------------------------*/
#story-section{
	width:90%;
	margin: auto;	
	text-align: justify;
	margin-top: 50px;
}
#story-section section{
	padding-top: 20px;
}
.story{
	margin:auto;
}
.full{	
	width:75%;
	margin: auto;
}
.graphic{
	margin-bottom: 45px;
	margin-top: 45px;
}
.split{
	width:100%;
	position: relative;
}
.left{
	float: left;
}
.right{
	float: right;
}
.rail {
	width: 30%;
	padding-right: 10px;
}
.split .notrail{
	width: 55%;
	margin-left: 31%;
	padding-left: 2.5%;	
	border-left: 1px dotted grey;
}

#mapdetails{	
	background-color: grey;
	margin-bottom: 50px;
}

#map{
	position: relative;
}




/*-------------------------------MEDIA QUERIES----------------------*/

@media (max-width: 320px) {

}